score-pin {
    div {
        content: " ";
        width: 20px;
        height: 20px;
        margin: 2px;
        border-radius: 50%;
    }
    .empty{
        border: 1px solid #555; 
    }
    .wrong{
        background-color: black;
    }
    .full.correct{
        background-color: green;
    }
    .color.correct{
        background-color: red;
    }
}
