bullet {
   cursor: pointer;
   position: relative;
   &.covered:after{
        content:"";
        top:0;
        left:0;
        bottom:0;
        right:0;
        position: absolute;
        background-color: black;
        border-radius: 50%;
   }
   display: inline-block;
   div{
        width: 50px;
        height: 50px;    
        border: 1px solid rgba(0, 0, 0, 0.137);
        border-radius: 50%;
        margin: 5px;
   }
   div.red{
        background-color: rgb(197, 58, 58);
   }
   div.blue{
        background-color: rgb(51, 51, 145);
   }
   div.green{
        background-color: rgb(41, 129, 41);
   }
    div.pink{
        background-color: rgb(167, 117, 126);
    }
    div.brown{
        background-color: rgb(104, 17, 17);
    }
    div.yellow{
        background-color: rgb(139, 139, 25);
    }
}